<div id= "header">
  <div class = "logo">
    <a href="/">
    <%= image_tag "HP-logo.png" , class:"HP-logo"%>
    </a>
  </div>
  <div class = "link">
    <ul id = "menu">
      <% if user_signed_in? && current_user.profile %>
        <li>
          <%= link_to "投稿する" , new_tweet_path %>
        </li>
        <li>
          <%= link_to "プロフィール変更" , edit_profile_path(current_user.profile.id) %>
        </li>
        <li>
          <%= link_to "ログアウト" , destroy_user_session_path, method: :delete %>
        </li>
      <% elsif user_signed_in? %>
        <li>
          <%= link_to "プロフィール登録" , new_profile_path %>
        </li>
        <li>
          <%= link_to "ログアウト" , destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録" , new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン" , new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>